# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.env
.venv
env/
*/venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/
.coverage
.hypothesis/
*.cover
*.log
htmlcov/
.mypy_cache/
.dmypy.json
dmypy.json

# Java
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
target/
.mvn/
mvnw
mvnw.cmd
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IDE
.idea/
*.iws
*.iml
*.ipr
out/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Logs
logs/
*.log

# Environment variables
.env
.env.local
.env.*.local

# Database
*.db
*.sqlite
*.sqlite3

# Claude
.claude
